<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Irom Contacts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.min.css"
    integrity="sha512-3gFq2IXMVlAQaUyahzhjDRivv0yqyXTb7xiy6ivTaG5Uz4hKI54uYxpQefdomgDVQ11eJVUbXG0YdPMDISiGgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="app">
    <h1>Pimec Celebrities Contacts</h1>
    <section>
      <h2>Filtros</h2>
      <label for="full-name">Nombre y apellido:</label>
      <input v-model="fullName" type="text" name="full-name" id="full-name">
    </section>
    <table>
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Popularity</th>
          <th>Won Oscar</th>
          <th>Won Emmy</th>
        </tr>
      </thead>
      <tbody>
        <!-- Usa adecuadamente v-for para crear tantas filas como elementos hay en array. Mapea adecuadamente cada uno de los campos en la celda correspondiente
        
          Primera corrección: v-for inicial 11:55
          Segunda corrección: 12:08
        -->
        <tr v-for="contact in filteredContacts">
          <td><img style="width:100px" :src="contact.pictureUrl" :alt="contact.name"></td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.popularity.toFixed(2) }}</td>
          <!-- Corregir 12.30: NO face falta computed proprties. Acordaos de modificar la cabecera de la tabla -->
          <td>{{ contact.wonOscar? '🏆':'' }}</td>
          <td><span v-show="contact.wonEmmy ">🏆</span></td>

        </tr>
      </tbody>
    </table>
  </div>
  <script type="module" src="app.js"></script>
</body>

</html>